#Altium Designer | ignore output, history files:
Capstone_PCB/Project Outputs for Capstone_mk1
Capstone_PCB/Project Logs for Capstone_mk1
Capstone_PCB/Out jobs/Capstone_mk1.OutJob
Capstone_PCB/History
Capstone_PCB/__Previews
Capstone_PCB/*.bak
Capstone_PCB/*_autosave_*

#Code | Ignore build directory
Capstone_Code/build/